body {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }




/*  App code **/
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-size: calc(16px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: calc(32px + (82 - 32) * ((100vw - 300px) / (1600 - 300))); line-height: 1.15;  letter-spacing: -0.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -0.05rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -0.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -0.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -0.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
img {
  max-width: 100%;
}
h1 {
  font-weight: 700;
  max-width: 12em;
}
h2 {
  margin-bottom: 3em;
}
.subtitle {
  font-size: 1em;
  max-width: 23em;
  color: #7C7C7C;
}
.wrapper {
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  justify-content: center;
  background: url(../images/rocket.png) no-repeat 100% 0;
  background-size: 30em auto;
}
.not-home .wrapper {
  background: #fff;
}
main {
  max-width: 80em;
  margin: auto auto 0;
  width: 100%;
}
.not-home main {
  max-width: 1100px;
  margin-top: 20vh;
  margin-bottom: 100px;
}
@media screen and (min-width: 600px) {
  main {
    margin: 0 auto;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 2.5em;
}
.logo {
  float: left;
  max-width: 150px;
}
.hero {
  padding: 8em 0 0;
}
.navigation a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
  display: block;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
}
.navigation li {
  margin: 0;
  display: inline-block;
  padding: 10px;
}
.button {
  font-weight: 700;
  padding: .7em 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
  position: relative;
  transition: all 200ms ease-in 100ms;
  overflow: hidden;
}
.button:before {
  background:  #EC5B5B;
  position: absolute;
  bottom: 0;
  width: calc(100% + 30px);
  left: -15px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  z-index: 1;
  color:  #EC5B5B;
  transition: all 200ms ease-in 100ms;
  text-align: center;
  display: block;
  padding: .7em 0;
  content: "";
  line-height: 1.25;
}
.button:hover:before {
  transform: scaleY(1);
  color: #fff;
  content: attr(data-content);
}
.button:after {
  background:  #EC5B5B;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 3px;
  transition: all 150ms ease-in 350ms;
  content: "";
}
.button:hover:after {
  width: calc(100% + 30px);
  left: -15px;
  transition: all 100ms ease-in;
}
.button span {
  z-index: 5;
  display: inline-block;
  position: relative;
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms ease-in 200ms;
}
.button:hover span {
  opacity: 0;
  transition: all 200ms ease-in;
  transform: translateY(-20px);
}
.content {
  max-width: 700px;
  font-size: 1.15rem;
}
.content h1 {
  font-size: calc(32px + (64 - 32) * ((100vw - 300px) / (1600 - 300))); line-height: 1.15;  letter-spacing: -0.1rem;
}

.content p {
  font-size: 1.15rem;
}
.content p + h5 {
  margin: 3rem 0 1rem;
}
.content p + p {
  margin: 2rem 0;
}


